nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.navlink{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
.navlink:hover{
    color: red;
    border-bottom: 1.5px solid red;
}

.btn{
    padding: 7px 16px;
    margin: 3px;
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid red;
    color: red;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    scale: 1.02;
}
.barger{
    display: none;
}

@media only screen and (max-width: 768px) {
    .barger {
      display: block;
      position: absolute;
      top: 23px;
      right: 20px;
      font-size: 30px;
    }
    .button{
        position: absolute;
        top: 23px;
        right: 60px;

    }
    .btn{
        padding: 5px ;
    }
    nav {
      padding: 20px 30px;
      flex-direction: column;
      align-items: start;
      
    }
     ul {
        height: 100vh;
      display: none;
      padding: 50px 0px;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
     ul li {
      margin: 55px;
    }
     ul.active {
      display: block;
      z-index: 999;
    }
     ul li .navlink {
      font-size: 3rem;
    }
  }